<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Update Page</title>
    </head>
    <body>
        <form action="/getById" method="post">
            <table>
                <tr>
                    <td><label for="PID">Person ID </label></td>
                    <td><input type="text" name="pid"></input></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Get Person"></input></td>
                </tr>
            </table>
        </form>
    </body>
</html>